@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);



html, body {
	font-family: 'Lato', sans-serif;
	background: white;
	color: black;
  text-align: center;
	margin: 0;
}

.bgone {
	margin: 0;
	background-image: url("images/bgimage1.jpg");
	width: 100%;
	height: 600px;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgtwo {
	margin: 0;
	padding: 0;

	background-color: rgba(223, 81, 77, 0.8)
}

h1 {
	padding-top: 20%;
	margin: 0;
  font-family: 'Lobster', sans-serif;
  font-weight: lighter;

}

h1 span {
	background-color: white;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-style: dashed;
	border-color: black;
	color: #DF514D;

}

h1 a {
  text-decoration: none;
  color: black;
}
h1 a:hover{
  text-decoration: none;
  color: #DF514D;
}

p {
  padding-top: 3%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 4%;
  margin: auto;
}

h2 {
	margin: 0;
	padding-top: 4%;
	font-size: 2.0em;
	color: black;
	font-family: 'Lobster', sans-serif;
}

h3 {
	font-size: 1.5em;
	font-family: 'Lobster', sans-serif;
	font-weight: lighter;
}

@media screen and (max-width: 480px) {
    .bgone {
				background-image: url("images/bgimage1mobile.jpg");
         height: 350px;
				 width: 100%;
				 padding-bottom: 100%;
    }
		.bgtwo {
			padding-bottom: 5%;
		}
		h2 {
			padding-top: 10%;
		}
}

.footer a {
	text-decoration: none;
	color: #DF514D;
}

#nav {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 15px;
  background-color: white;
}

#nav li{
  display: inline-block;
}

#nav li a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  padding: 15px;
}

#nav li a:hover {
  color: #DF514D;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 8px 9px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size: 14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
  z-index: 1;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button.thar-three {
	color: #DF514D;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #DF514D;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.animated-button.thar-three:hover {
	color: black !important;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #DF514D;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
